<!DOCTYPE html>
<html>
    <head>
        <title>blog secreto hehe</title>
    </head>
    <body>

        <header>
            <h1><a href="/">Estrela's blog</a></h1>
        </header>

        <a href="https://www.omfgdogs.com/#">link-essencial</a>
        <p>Seguinte, e <a href="https://theuselessweb.site/ducksarethebest.com/">se...</a></p>
        
        
        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>isso nunca perde a <a href="https://pointerpointer.com/">graça</a> ;)</p>
            </article>
        {% endfor %}

        <p>Você tem <a href="http://www.staggeringbeauty.com/">coragem</a>?</p>

    </body>
</html>
